<h2>Add a dose for the <%= @cocktail.name %></h2>
  <%= simple_form_for([@cocktail, @dose] do |f|) %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.submit %>
  <% end %>
